<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>BookTrack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class ="container" id="contents">


    <h3>BookTrack </h3>

    <h3> Seems like you issued too  many requests and our poor AWS database can't manage  it. </h3>
    <p> Please refresh the page in a sec.</p>
    <button class="btn btn-primary" onclick="location.reload()"> Do refresh!</button>
    <a class="btn btn-primary" href="/">Back</a>


</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>